@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* * {
    box-sizing: boder-box;
} */

body {
    background: #4e4f84;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:  'Roboto', sans-serif;
 }

nav{
   background: #36375c;
   height: 80px;
   width: 100%;
 }
 
 label.logo{
   color:#fff;
   font-size: 35px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
 }
 
 nav ul{
   list-style: none;
   float: right;
   margin: 0 5px;
 }
 
 nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
 }
 
 nav ul li a{
   color: #fff;
   transition: 0.4s;
   padding: 8px 15px;
   border-radius: 5px;
   text-transform: uppercase;
 }
 
 a.active,a:hover{
   background: #eec13a;
   transition: 0.4s;
   /* color: #eec13a */
 }
 
 .checkbtn{
   font-size: 30px;
   color: #fff;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
 }
 
 #check{
   display: none;
 }
 
 @media (max-width: 968px){
   label.logo{
     font-size: 30px;
     padding-left: 30px;
   }
   nav ul li a{
     font-size: 16px;
   }
 }
 @media (max-width: 875px){
   .checkbtn{
     display: block;
   }
   nav ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background: #27282c;
     top: 80px;
     left: -100%;
     text-align: center;
     transition: all .5s;
     z-index: 999;
   }
   nav ul li{
     display: block;
     margin: 50px 0;
     line-height: 30px;
   }
   nav ul li a{
     font-size: 20px;
   }
   a:hover, a.active{
     background: none;
     background-color: #eec13a;
 
   }
   #check:checked ~ ul{
     left: 0;
   }
 }
 
 p {
   padding: 25px 25px;
   text-align: justify;
   text-justify: inter-word;
}

.main-section {
    display: flex;
    height: 500px;
    /* align-items: center; */
    justify-content: center;
    /* align-items: center; */
}

.main-section .content h1{
   padding-top: 50px;
   /* border-bottom: 3px solid #36375c; */

}

.content{
    /* width: 50%;
    height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;  
    /* justify-content: center;      */
    /* margin: auto; */
}

.details{
   margin: 50px 50px 50px 50px;
   border: 3px dashed #36375c;
   border-radius: 15px;
}