@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background: #4e4f84;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: #36375c;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
 }
 
 a:hover {
    background: #eec13a;
    cursor: pointer;
    border-radius: 12px ;
 }
 
 .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3em 1.5em;
 }
 
 .navigation ul {
    border-radius: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
 }
 
 .navigation li {
    flex: 3;    
 }
 
 @media all and (max-width: 1000px) {
    .navigation ul {
       flex-wrap: wrap;
    }
    
    .navigation li {
       flex: 1 1 50%;
    }
 }
 
 @media all and (max-width: 480px) {
    .navigation li {
       flex-basis: 100%;
    }
 }

.DT {
    border-collapse:collapse;
    border-color:#93a1a1;
    border-spacing:0;
}

.DT td{
    background-color:#fdf6e3;
    border-bottom-width:1px;
    border-color:#93a1a1;
    border-style:solid;
    border-top-width:1px;
    border-width:0px;
    color:#ffffff;
    font-family:'Roboto', sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.DT th{
    background-color:#1d1d30;
    border-bottom-width:1px;
    border-color:#93a1a1;
    border-style:solid;
    border-top-width:1px;
    border-width:0px;
    color:#fdf6e3;
    font-family:'Roboto', sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.DT .DT-Odd{
    background-color:#4e4f84;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.DT .DT-Header{
    border-color:inherit;
    font-weight:bold;
    position:-webkit-sticky;
    position:sticky;
    text-align:center;
    top:-1px;
    vertical-align:top;
    will-change:transform
}
    
.DT .DT-Even{
    background-color:#36375c;
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

@media screen and (max-width: 767px) {.DT {
    width: auto !important;
}
.DT col {
    width: auto !important;
}
.DownloadTableMain {
    overflow-x: auto;-webkit-overflow-scrolling: touch;
}}

.main-section {
    display: flex;
    height: 500px;
    /* align-items: center; */
    justify-content: center;
    /* align-items: center; */
}


.download-main {
    display: flex;
    height: 600px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: #4e4f84;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}